* @juan-lee @cameronmeissner @UtheMan @ganeshkumarashok @anujmaheshwari1 @AlisonB319 @Devinwong @lilypan26 @ShiqianTao @AbelHu @junjiezhang1997 @jason1028kr @djsly @phealy @r2k1 @timmy-wright

# Code owners for cse_cmd.sh.gtpl and cse_cmd.sh. 
# In case someone modifies one file but forgets the other one.
# Testing if it will work as expected.
cse_cmd.sh.gtpl @Devinwong @lilypan26 @r2k1 @timmy-wright
cse_cmd.sh @Devinwong @lilypan26 @r2k1 @timmy-wright