users:
  - default

cloud_init_modules:
  - users_groups
  - ssh

system_info:
  # This will affect which distro class gets used
  distro: azurelinux
  # Default user name + that default users groups (if added/used)
  default_user:
    name: azurelinux
    lock_passwd: True
    gecos: Azure Linux
    groups: [wheel]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  # Other config here will be given to the distro class and/or path classes
  paths:
    cloud_dir: /var/lib/cloud/
    templates_dir: /etc/cloud/templates/
  ssh_svcname: sshd
