[Unit]
Description=Intercept cloud-init configurations and override them
Before=cloud-init.service

[Service]
Type=simple
ExecStart=/usr/bin/bash -c /usr/local/bin/cse_fix_mariner_install_path.sh

[Install]
WantedBy=multi-user.target