[Unit]
Description=Updates certificates passed in customCACertificates cluster field

[Service]
Type=oneshot
ExecStart=/opt/scripts/update_certs.sh
RestartSec=5