parameters:
- name: ADO_PAT
  type: string

steps:
- bash: |
    az extension add -n azure-devops
    echo $ADO_PAT | az devops login --organization=https://dev.azure.com/msazure --verbose
    az devops configure --defaults organization=https://dev.azure.com/msazure project=CloudNativeCompute
  env:
    ADO_PAT: ${{ parameters.ADO_PAT }}
    AZURE_DEVOPS_EXT_PAT: ${{ parameters.ADO_PAT }}
  displayName: 'Azure devops login'