[Unit]
Description=A oneshot service that overwrites the containerd configuration on GB200 SKUs
# The aks-log-collector service writes the containerd configuration before containerd starts
# The /etc/containerd directory doesn't appear to exist before service runs
After=aks-log-collector.service
Requires=aks-log-collector.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/azure/gb200-containerd-config.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target