[Unit]
Description=A oneshot service that overwrites the containerd configuration on GB200 SKUs
DefaultDependencies=no
After=aks-log-collector.service
Before=nvidia-device-plugin.service

[Service]
Type=oneshot
ExecStart=/opt/azure/gb200-containerd-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target