variant: flatcar
version: 1.1.0
systemd:
  units:
    - name: ignition-bootcmds.service
      enabled: true
      contents: |
        [Unit]
        Description=Ignition Early Boot Commands
        DefaultDependencies=no
        After=local-fs.target
        Before=sysinit.target
        ConditionPathExists=/etc/ignition-bootcmds.sh

        [Service]
        Type=oneshot
        ExecStart=-/etc/ignition-bootcmds.sh

        [Install]
        WantedBy=sysinit.target

    - name: ignition-file-extract.service
      enabled: true
      contents: |
        [Unit]
        Description=Extract Ignition file payload
        DefaultDependencies=no
        After=local-fs.target
        Before=sysinit.target ignition-bootcmds.service
        ConditionPathExists=/var/lib/ignition/ignition-files.tar

        [Service]
        Type=oneshot
        ExecStart=tar -xvf /var/lib/ignition/ignition-files.tar -C /
        ExecStart=rm -f /var/lib/ignition/ignition-files.tar
        ExecStart=systemctl daemon-reload
        RemainAfterExit=yes

        [Install]
        WantedBy=sysinit.target
