# 10_azure_nvidia_azurelinux changes the default menu entry based on a flat menu.
GRUB_DISABLE_SUBMENU=true

# 10_azure_nvidia_azurelinux appends additional arguments for NVIDIA Grace kernels.
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \$nvidia_args"
