[Unit]
Description=AKS Local DNS
Wants=network.target
After=network.target
Before=kubelet.service
Before=containerd.service

[Service]
User=root
Group=aks-local-dns
Type=notify
NotifyAccess=all
WatchdogSec=10
Restart=always
KillMode=mixed
TimeoutStopSec=30
Slice=aks-local-dns.slice
EnvironmentFile=-/etc/default/aks-local-dns
ExecStart=/opt/azure/aks-local-dns/aks-local-dns.sh

[Install]
WantedBy=multi-user.target
