[Unit]
Description=Parse contract and run csecmd
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/azure/containers/aks-node-controller-wrapper.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
