[Unit]
Description=a timer that runs the logrotate-aks service randomly on every hour
[Timer]
OnCalendar=*-*-* *:00:00
RandomizedDelaySec=3m
[Install]
WantedBy=multi-user.target