[Unit]
Description=Populate /etc/hosts.testing with critical AKS FQDN addresses
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/azure/containers/aks-hosts-setup.sh

[Install]
WantedBy=multi-user.target
