[Unit]
Description=Configure Azure Network Interface Settings
After=network-online.target
Wants=network-online.target
Before=kubelet.service

[Service]
Type=oneshot
ExecStart=/opt/azure-network/configure-azure-network.sh

[Install]
WantedBy=multi-user.target
