[Unit]
Description=Parse contract and run csecmd
After=cloud-final.service
Requires=cloud-final.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/azure/containers/bootstrap.sh
RemainAfterExit=No

[Install]
WantedBy=multi-user.target