[Unit]
Description=Parse contract and run csecmd
After=cloud-init.target
Wants=cloud-init.target

[Service]
Type=oneshot
ExecStart=/opt/azure/containers/node-bootstrapper provision --provision-config=/opt/azure/containers/node-bootstrapper-config.json
RemainAfterExit=No

[Install]
WantedBy=cloud-init.target