[Unit]
Description=Parse contract and run csecmd
After=cloud-init.target
Wants=cloud-init-complete.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/azure/containers/bootstrap.sh
RemainAfterExit=no

[Install]
WantedBy=cloud-init-complete.target