[Unit]
Description=Check outbound connectivity from node to certain endpoints

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/scripts/check-outbound-network.sh