[Unit]
Description=Determine mode of TLS bootstrapping and start the kubelet service
Wants=network-online.target
After=network-online.target
Before=kubelet.service

[Service]
Type=oneshot
ExecStartPre=/opt/azure/tlsbootstrap/secure-tls-bootstrap.sh download
ExecStart=/opt/azure/tlsbootstrap/secure-tls-bootstrap.sh bootstrap

#EOF