[Unit]
Description=Kubelet
ConditionPathExists=/usr/local/bin/kubelet
Wants=network-online.target containerd.service
After=network-online.target containerd.service

[Service]
Restart=always
RestartSec=2
TimeoutStartSec=270 # 3 minutes for secure TLS bootstrapping + 90s for everything else
EnvironmentFile=/etc/default/kubelet
# Graceful termination (SIGTERM)
SuccessExitStatus=143

ExecStart=/opt/azure/start-kubelet.sh

[Install]
WantedBy=multi-user.target
