[Unit]
Description=Update Labels for Kubernetes nodes
After=kubelet.service
[Service]
Restart=always
RestartSec=60
{{if IsKubernetesVersionGe "1.16.0"}}
Environment="NODE_LABELS={{GetAgentKubernetesLabels2}}"
{{else}}
Environment="NODE_LABELS={{GetAgentKubernetesLabelsDeprecated2}}"
{{end}}
ExecStart=/bin/bash /opt/azure/containers/labels.sh
#EOF
