[Unit]
Description=Populate /etc/hosts.testing with mcr.microsoft.com addresses
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/azure/containers/mcr-hosts-setup.sh

[Install]
WantedBy=multi-user.target
