[Unit]
Description=Measure TLS Bootstrapping Latency
ConditionPathExists=/opt/azure/containers/measure-tls-bootstrapping-latency.sh

[Service]
Type=oneshot
Restart=no
RemainAfterExit=no
SuccessExitStatus=SIGTERM

ExecStart=/bin/bash /opt/azure/containers/measure-tls-bootstrapping-latency.sh

[Install]
WantedBy=multi-user.target
