[Unit]
Description=Parse contract and run csecmd
After=cloud-init.target
Wants=cloud-init.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/azure/containers/nbcparser.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target