[Unit]
Description=Parse contract and run csecmd

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/opt/azure/containers/nbcparser /opt/azure/containers/nbc.json > cse_cmd.sh 2>&1; \
  cat cse_cmd.sh; \
  chmod +x cse_cmd.sh; \
  ./cse_cmd.sh'

[Install]
WantedBy=multi-user.target