[Unit]
Description=Node Problem Detector
Documentation=https://github.com/kubernetes/node-problem-detector

[Service]
ExecStart=/usr/local/bin/node-problem-detector-startup.sh

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
