[Unit]
Description=Installs and loads Nvidia GPU kernel module
[Service]
RemainAfterExit=true
ExecStart=/usr/local/nvidia/bin/nvidia-device-plugin
Restart=on-failure
[Install]
WantedBy=multi-user.target