[Unit]
Description=Runs the secure TLS bootstrap client to bootstrap a kubelet client credential
ConditionPathExists=/usr/local/bin/aks-secure-tls-bootstrap-client
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/usr/local/bin/aks-secure-tls-bootstrap-client \
    --ensure-authorized \
    --next-proto aks-tls-bootstrap \
    --cluster-ca-file=/etc/kubernetes/certs/ca.crt \
    --kubeconfig /var/lib/kubelet/kubeconfig \
    --cert-file /etc/kubernetes/certs/cert.crt \
    --key-file /etc/kubernetes/cert.key \
    --log-file /var/log/azure/aks/secure-tls-bootstrap.log \
    --deadline 15s \
    $BOOTSTRAP_FLAGS

[Install]
WantedBy=multi-user.target
