[Unit]
Description=Curl userdata from IMDS and run csecmd
After=systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/scripts/userdata.sh

[Install]
WantedBy=systemd-networkd-wait-online.service