pool:
  vmImage: ubuntu-latest

parameters:
- name: ImageBump
  displayName: Image Bump + Branch Cutting
  type: boolean
  default: true
- name: ReleaseNotes
  displayName: Release Notes
  type: boolean
  default: true
- name: ArtifactTrigger
  displayName: SIG Artifact Trigger
  type: boolean
  default: true

steps:
- bash: |
        echo $MAPPED_ADO_PAT | az devops login --organization=https://dev.azure.com/msazure
        az devops configure --defaults organization=https://dev.azure.com/msazure project=CloudNativeCompute
  env:
        MAPPED_ADO_PAT: $(ADO_PAT)
  displayName: 'az devops login'
- bash: |
        echo "Generating image version from build ID"
        #export global_image_version=""
        #source vhdbuilder/scripts/automate_generate_version.sh
        var=$(/bin/bash vhdbuilder/scripts/automate_generate_version.sh "${BUILD_ID[@]}")
        echo "what is $var"
        echo "from script global image version is ${global_image_version}"
        echo "##vso[task.setVariable variable=IMAGE_VERSION1;]"$global_image_version
  displayName: 'Generate Image Version'
- bash: |
        echo "PR for Image Bumping, Official Branch Cutting"
        echo "var is not passing $(IMAGE_VERSION1)"
        #/bin/bash vhdbuilder/scripts/automate_version_bump.sh $IMAGE_VERSION $MAPPED_GITHUB_PAT "${BUILD_ID[@]}"
  env:
        MAPPED_GITHUB_PAT: $(GITHUB_PAT)
  displayName: 'Image Version Bumping'
  condition: eq('${{ parameters.ImageBump }}', true)
- bash: |
        echo "PR for Release Notes"
        echo $(IMAGE_VERSION1)
        #/bin/bash vhdbuilder/scripts/automate_release_notes.sh $IMAGE_VERSION "${BUILD_ID[@]}" $MAPPED_GITHUB_PAT
  env:
        MAPPED_GITHUB_PAT: $(GITHUB_PAT)
  displayName: 'Release Notes'
  condition: eq('${{ parameters.ReleaseNotes }}', true)
- bash: |
        echo "Triggering ev2 artifacts pipeline"
        #/bin/bash vhdbuilder/scripts/automate_ev2pipeline_trigger.sh "${BUILD_ID[@]}"
  displayName: 'ev2 Artifact Pipeline Trigger'
  condition: eq('${{ parameters.ArtifactTrigger }}', true)