pool:
  vmImage: ubuntu-latest

parameters:
- name: ImageBump
  displayName: Image Bump + Branch Cutting
  type: boolean
- name: ReleaseNotes
  displayName: Release Notes
  type: boolean
- name: ArtifactTrigger
  displayName: SIG Artifact Trigger
  type: boolean

steps:
- bash: |
        echo $MAPPED_ADO_PAT | az devops login --organization=https://dev.azure.com/msazure
        az devops configure --defaults organization=https://dev.azure.com/msazure project=CloudNativeCompute
  env:
        MAPPED_ADO_PAT: $(ADO_PAT)
  displayName: 'az devops login'
- bash: |
        echo "PR for Image Bumping, Official Branch Cutting"
        /bin/bash vhdbuilder/scripts/automate_version_bump.sh $IMAGE_VERSION $MAPPED_GITHUB_PAT "${BUILD_ID[@]}"
  env:
        MAPPED_GITHUB_PAT: $(GITHUB_PAT)
  displayName: 'Image Version Bumping'
  condition: eq('${{ parameters.ImageBump }}', true)
- bash: |
        echo "PR for Release Notes"
        /bin/bash vhdbuilder/scripts/automate_release_notes.sh $IMAGE_VERSION "${BUILD_ID[@]}" $MAPPED_GITHUB_PAT
  env:
        MAPPED_GITHUB_PAT: $(GITHUB_PAT)
  displayName: 'Release Notes'
  condition: eq('${{ parameters.ReleaseNotes }}', true)
- bash: |
        echo "Triggering ev2 artifacts pipeline"
        /bin/bash vhdbuilder/scripts/automate_ev2pipeline_trigger.sh "${BUILD_ID[@]}"
  displayName: 'ev2 Artifact Pipeline Trigger'
  condition: eq('${{ parameters.ArtifactTrigger }}', true)