[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=kubelet.service
After=kubelet.service

[Service]
EnvironmentFile=-/etc/default/node-exporter
ExecStart=/opt/bin/node-exporter-startup.sh
TimeoutStartSec=360

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
