name: "Test coverage"
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  id-token: write
  contents: read

env:
  SUBSCRIPTION_ID: "8ecadfc9-d1a3-4ea4-b844-0d9f87e4d7c8"
  RESOURCE_GROUP_NAME: "agentbaker-e2e-tests"
  LOCATION: "eastus"
  CLUSTER_NAME: "agentbaker-e2e-test-cluster"
  AZURE_TENANT_ID: "72f988bf-86f1-41af-91ab-2d7cd011db47"

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.2
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run unit tests
        run: go test `go list ./... | grep -v e2e` -coverprofile coverage_raw.out -covermode count
      - name: Remove mocks.go lines
        run: |
          sed '/mocks.go/d' coverage_raw.out > coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          flag-name: run-1
          path-to-lcov: coverage.lcov
  e2e_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.2
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Az CLI login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.GO_E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.GO_E2E_TENANT_ID }}
          subscription-id: ${{ secrets.GO_E2E_SUBSCRIPTION_ID }}
      - name: Run Agent Baker server
        run: |
          cd cmd 
          mkdir -p covdatafiles
          go build -cover -o baker -covermode count 
          GOCOVERDIR=covdatafiles ./baker start &
      - name: Run e2e tests
        run: |
          echo "Running e2e tests"
          cd e2e
          go test -e2eMode="coverage" -timeout 60m -v -run Test_All ./
      - name: Generate coverage report
        run: |
          kill $(pgrep baker)
          cd cmd
          go tool covdata textfmt -i=covdatafiles -o coverage.out
          mv coverage.out ../coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          flag-name: run-2
          path-to-lcov: coverage.lcov
  finish:
    needs: [unit_tests, e2e_tests]
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          carryforward: "run-1,run-2"