name: check-tests
on: pull_request

jobs:
  check-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '^1.16'
    - run: |
        make test
      name: Unit Test
