
on:
  pull_request:
      
jobs:
  coveralls:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Calc coverage
        run: go test `go list ./... | grep -v e2e` -coverprofile coverage_raw.out -covermode count
      - name: Remove mocks.go lines
        run: |
          sed '/mocks.go/d' coverage_raw.out > coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          path-to-lcov: coverage.lcov

