name: Go Unit Tests
on: pull_request

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v3
      with:
        go-version: '1.22'
    - run: |
        make test
      name: Run unit tests for go code in the repository
