name: Go Unit Tests
on: pull_request

jobs:
  go-test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v3
      with:
        go-version: '1.24'
    - run: |
        set -ex
        make test
      name: Run unit tests for go code in the repository
