name: Lint Shell/Bash Scripts
on: pull_request

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: '1.24'
    - run: |
        make validate-shell
      name: Lint shell/bash scripts with ShellCheck
