name: Windows Powershell Unit Test
on: pull_request

jobs:
  pester-test:
    name: Pester test
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Perform a Pester test from the parts/windows/*.tests.ps1 file
        shell: powershell
        run: |
          Invoke-Pester parts/windows/*.tests.ps1 -Passthru
      - name: Perform a Pester test from the vhdbuilder/packer/windows/*.tests.ps1 file
        shell: powershell
        run: |
          Invoke-Pester vhdbuilder/packer/windows/*.tests.ps1 -Passthru
      - name: Perform a Pester test from the staging/cse/windows/*.tests.ps1 file
        shell: powershell
        run: |
          Install-Module -Name powershell-yaml -Force
          Invoke-Pester staging/cse/windows/*.tests.ps1 -Passthru
